.signup-container {
    display: flex;
    height: 100vh;
    background-color: #01A29D; /* Background color for the whole container */
}

.left-side {
    flex: 1;
    background-color: #ffffff; /* White background for the left side */
    display: flex;
    border-top-right-radius: 50px; /* Adjust radius as needed */
    border-bottom-right-radius: 50px; /* Adjust radius as needed */
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 80%;
    height: auto;
}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

.right-side h2 {
    margin-bottom: 20px;
}

.right-side .signup-button {
    width: 350px;
    padding: 20px 30px;
    margin: 15px 0;
    font-size: 16px;
    color: #01A29D;
    background-color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side .signup-button.doctor::before {
    margin-right: 20px;
}

.right-side .signup-button.patient::before {
    margin-right: 20px;
}

.right-side .signup-button:hover {
    background-color: #e0f7f5;
}
