.message-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    height: calc(100% - 50px); 
  }
  
  .chat-item {
    display: flex;
    align-items: center;
    background-color: #ffffff; 
    padding: 12px; 
    border-radius: 30px; 
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    border: 1px solid #e0e0e0;

    width: 90%; 
    height: 60px; 
    margin: 0 auto; 
  }
  
  .chat-item:hover {
    background-color: #ececec; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
  }
  
  
  .chat-avatar {
    flex-shrink: 0;
    margin-right: 10px;
  }
  
  .chat-avatar img {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .chat-info {
    flex: 1;
    overflow: hidden;
  }
  
  .chat-name {
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 14px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .chat-message {
    color: #777;
    font-size: 12px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .chat-notification-dot {
    width: 18px; 
    height: 18px;
    background-color: #ff5656;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
    margin-left: 10px;
  }
  