.doctor-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.doctor-page-content {
  flex: 1;
  padding: 20px;
  justify-content: center; 
  align-items: center;
}


.doctor-search {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 30px;
  font-size: 18px;
  color: #ccc;
}

.search-input {
  width: 60%;
  padding: 12px 50px;
  border-radius: 30px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

.doctors-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.doctor-item {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.doctor-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.doctor-details {
  flex: 1;
  margin-left: 20px;
}

.appointment-btn {
  background-color: #00a7a7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.appointment-btn:hover {
  background-color: #007b7b;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.prev-page,
.next-page {
  background-color: #00a7a7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.prev-page:hover,
.next-page:hover {
  background-color: #007b7b;
}

.appointment-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 20px; 
  padding: 20px;
}

.doctor-info {
  flex: 0.3;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  min-height: 480px;
}

.doctor-avatar-large {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.doctor-info h3 {
  margin-top: 10px;
  font-weight: bold;
}

.doctor-contact-info p {
  display: flex;
  align-items: center;
  gap: 8px;
}

.appointment-form {
  flex: 0.5;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}

.appointment-form h3 {
  text-align: center;
  margin-bottom: 20px;
}

.appointment-form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.appointment-submit-btn {
  background-color: #00a7a7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

.appointment-submit-btn:hover {
  background-color: #007b7b;
}

.calendar {
  margin-right: 10px;
  flex: 1;
}

.time-picker {
  margin-left: 10px;
  flex: 1;
}
